<th:block
        th:if="${@loggedUser.id>0}">
</th:block>

<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="/css/nav.css"/>
<div class="top">
    <ul class="nav-menu">
        <li class="homebtn"> <a href="/home">Начало</a></li>
        <li class="homebtn"> <a href="/products">Продукти</a></li>
        <li class="homebtn"> <a href="/contacts">Контакти</a></li>
        <li class="homebtn"> <a href="/useful">Полезно</a></li>
        <li class="homebtn"> <a href="/recipe">Рецепти</a></li>
        <li class="homebtn"> <a href="/gallery">Галерия</a></li>
        <li class="homebtn"> <a href="/user">Профил</a></li>
        <li class="homebtn"> <a href="/">Изход</a></li>
    </ul>
</div>