<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/basket.css" rel="stylesheet">
</head>
<body>

<div class="wrapper">
    <h1>Кошница</h1>
    <div class="project">
        <div class="shop">
            <div class="box">
                <img src="/images/imageForProducts/cola2l.jpg">
                <div class="content">
                    <h3>Кола 2л</h3>
                    <h4>Цена: 2лв</h4>
                    <p class="unit">Брой: <input value="1"></p>
                    <p class="btn-area">
                        <i class="fa fa-trash"></i>
                        <spаn class="btn2">Премахни</spаn>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/images/imageForProducts/whiskey.png">
                <div class="content">
                    <h3>Уиски</h3>
                    <h4>Цена: 35лв</h4>
                    <p class="unit">Брой: <input value="1"></p>
                    <p class="btn-area">
                        <i class="fa fa-trash"></i>
                        <spаn class="btn2">Премахни</spаn>
                    </p>
                </div>
            </div>
            <div class="box">
                <img src="/images/imageForProducts/almondmilk.jpg">
                <div class="content">
                    <h3>Ядково мляко</h3>
                    <h4>Цена: 4лв</h4>
                    <p class="unit">Брой: <input value="1"></p>
                    <p class="btn-area">
                        <i class="fa fa-trash"></i>
                        <spаn class="btn2">Премахни</spаn>
                    </p>
                </div>
            </div>
        </div>
        <div class="right-bar">
            <p><span>Общо</span> <span>41лв</span></p>
            <hr>
            <p><span>Цена за доставка</span> <span>2лв</span></p>
            <hr>
            <p><span>Обща стойност</span> <span>43лв</span></p>

            <a href="completeOrder"><i class="fa fa-shopping-card"></i>Поръчай</a>
        </div>
    </div>
</div>
</body>
</html>