<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/login.css"/>
</head>
<body>
<div class="login-form">
  <form
          th:action="@{/login}"
          th:method="POST">
    <h1>Вход</h1>
    <div class="content">

      <div class="input-field">
        <input type="text"
               name="username"
               placeholder="Потребителско име"
               minlength="3"
               id="contact-name"
               onkeyup="validateName()"
               />
        <span id="name-error" ></span>
      </div>

      <div class="input-field">
        <input type="password"
               name="password"
               placeholder="Парола"
               minlength="3"
               id="contact-password"
               onkeyup="validatePassword()"
               />
        <span id="password-error"></span>
      </div>
      <a href="register" class="link">Създаване на профил ?</a>
    </div>
    <div class="action">
      <button type="submit">Вход</button>
    </div>
  </form>
</div>

<script>
  var nameError = document.getElementById('name-error');
  var passwordError = document.getElementById('password-error');
  function validateName(){
    var name = document.getElementById('contact-name').value;
    if (name.length==0){
      nameError.innerHTML='Това поле е задължително!';
      return false;
    }
    return true;
  }
  function validatePassword(){
    var password = document.getElementById('contact-password').value;
    if (password.length==0){
      passwordError.innerHTML='Това поле е задължително!';
      return false;
    }
    return true;
  }
</script>
</body>
</html>
