<!DOCTYPE html>
<html>
<head>
  <title>Рецепти</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    body {font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }
  </style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Рецепти</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/home" class="w3-bar-item w3-button">Начало</a>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- Chicken Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="/images/imageForProducts/chikenWithRise.jpg" class="w3-round w3-image w3-opacity-min" alt="Рецепта" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Пиле с ориз</h1><br>
      <h5 class="w3-center">Класическа рецепта</h5>
      <p class="w3-large">Пиле с ориз! Има ли нужда да обясняваме колко любимо ястие е пилето с ориз? Или колко класическо българско ястие е пилето с ориз? Пилето с ориз говори само за себе си! Пилето с ориз присъства във всяка домашна кухня, пилето с ориз е задължителн за кухнята на всеки стол, пилето с ориз присъства винаги и в заведенията за бързо хранене.</p>
      <p class="w3-large">Обелвате лука и го нарязвате на дребно. Почиствате морковите и също ги нарязвате на дребно. В дълбок тиган загрявате 3-4 супени лъжици олио, към които добавяте нарязаните на дребно зеленчуци и ги задушавате за около 4-5 минути, докато омекнат. След това добавяте и измития ориз и разбърквате няколко минути, докато оризът стане прозрачен. При приготвянето на пиле с ориз може да ползвате както бял ориз, така и кафяв ориз, ако сте почитатели на здравословното хранене или пък ако просто предпочитате вкуса на кафявия ориз. Добавяте една чаена лъжица сол и 1/2 чаена лъжица черен пипер и разбърквате.</p>
      <p class="w3-large">Докато приготвяте ориза за пилето с ориз трябва да подготвите и пилешкото месо. Можете да сварите пилешкото месо само в солена вода, но по-добре е да добавите към водата парченце целина, морков, лук и магданоз. Така ще подготвите и бульон, който може да добавите към пилето с ориз по време на печенето във фурната. Варите пилешкото месо около 15 минути, а не до пълна готовност, защото му предстои още термична обработка.</p>
      <p class="w3-large">Изсипвате ориза в тава, разпределяте върху нея пилешкото месо и добавяте 3 чаени чаши от бульона, в който е вряло пилешкото месо, като предварително го прецедите с цедка. Печете пилето с ориз в предварително загрята на 180 градуса фурна за около час, докато водата изври и оризът е сварен.</p>
    </div>
  </div>

  <hr>


  <!-- Musaka Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="/images/imageForProducts/musaka.jpg" class="w3-round w3-image w3-opacity-min" alt="Рецепта" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Мусака</h1><br>
      <h5 class="w3-center">Класическа рецепта</h5>
      <p class="w3-large">Едно от най-обичаните и най-често приготвяните ястия. Мусаката е абсолютният любимец както на всеки българин, така и на чужденците. Ако се притеснявате какво да сготвите на гостите от чужбина, можете да заложите на мусаката. Чуждестранните гости едва ли ще харесат таратора и едва ли ще съберат сили да пробват печените чушки с доматен сос, но мусаката задължително ще спечели доверието им, ще си оближат пръстите и ще искат порция допълнително.</p>
      <p class="w3-large">Загрявате мазнината в дълбок тиган или тенджера. В загрятата мазнина задушете измитият, изчистен и нарязан на дребно лук, докато омекне. Добавяте нарязаните на дребно половината домати и каймата, черният пипер и чубрицата, както и една чаена лъжица сол. Може да ползвате кайма, каквато имате под ръка, но най-вкусната мусаката става с кайма смес – 50% свинско и 50 % телешко месо.</p>
      <p class="w3-large">След като водата от доматите изври добавяте червения пипер. Измивате, почиствате, обелвате и нарязвате на дребни кубчета картофите и ги прибавяте към месото. Намазнявате тавичка на дъното на която поставяте другата половина от доматите и върху тях изсипвате сместа за мусака. Добавяте една непълна чаена чаша гореща вода и поставяте в предварително загрята на 200 градуса фурна. Печете до докато водата изври, а картофите станат златисти.</p>
      <p class="w3-large">Идва моментът за приготвяне на заливката за мусаката. Тя става лесно и много бързо. Разбърквате киселото мляко и яйцата, след което при постоянно бъркане добавяте и брашното, до получаване на гладка смес. Накрая добавяте и настъргания на дребно кашкавал. Заливате мусаката и печете докато порозовее</p>
    </div>
  </div>

  <hr>


  <!-- End page content -->
</div>



</body>