<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Полезно</title>
    <link rel="stylesheet" href="/css/useful.css"/>
</head>
<header>
    <th:block
            th:include="~{fragments/nav}">
    </th:block>
</header>
<body>
<div class="cover">
    <div class="box">
        <img src="/images/images-useful/imgUseful1.jpg">
        <h2>Домати</h2>
        <p class="desc">Най-полезната съставка за организма е ликопен, който има способност да се бори с мутацията на клетките. Доматите съдържат още витамини A и K, редуцират кръвното налягане и се грижат за очите. </p>
    </div>
    <div class="box">
        <img src="/images/images-useful/imgUseful2.jpg">
        <h2>Броколи</h2>
        <p class="desc">Съставките на броколите се грижат за имунната система, борят се с настинките и редуцират опасността от рак на стомаха, на белите дробове и на ректума.</p>
    </div>
    <div class="box">
        <img src="/images/images-useful/imgUseful3.jpg">
        <h2>Моркови</h2>
        <p class="desc">Съдържа два от трите най-важни антиоксиданти – витамини A и C, а ако се комбинират с малко слънчогледово олио, ще си осигурите и третия антиоксидант – витамин E.</p>
    </div>
</div>
</body>
</html>